
<div style="display: flex; justify-content: space-between;" class="jumbotron">
    <h1>Success!</h1><br>
    <a href="/logout"><button class="btn btn-info" style="margin-top: 50%;" >Logout</button></a>
</div>